/* .title {
    color : #faa
}
.title:hover {
    color : #aaf;
}
input:focus {
    outline: none;
    border: 5px #faa solid;
}
.out_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px #faa solid;
}
.out_block:hover .in_block {
    width: 100px;
    height: 100px;
    border: 1px #aaf solid;
}

.out{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 3px darkseagreen solid;
}
.in{
    display: none;
}
.out:hover .in {
    width: 100px;
    height: 100px;
    display: flex;
    border: 3px lightseagreen dashed;
}
img {
    height: 100px;
}
div {
    color: #afa;
    background-color: lightskyblue;
    font-size: xx-large;
    font-weight: bolder;
    width: 200px;
    text-align: center;
}
div ::before, div ::after {
    content : attr(data-content);
    color: orange;
}
div :hover ::before, div :hover ::after {
    content : attr(data-content);
    color: orange;
}
li {
    font-size: 20px;
    font-weight: lighter;
}
ul ::marker {
    color: pink;
    content: "*";
} */
.container {
    width: 300px;
    box-shadow: 0 0 0 15px lightskyblue, 0 0 0 30px lightpink;
}
p {
    /* width: 200px;
    height: 150px; */
    padding: 20px;
    text-align: justify;
    line-height: 35px;
    background:linear-gradient(lightsalmon,lightyellow);
    border: 1px solid gray;
    /* box-shadow: 0 0 15px lightskyblue, 0 0 30px lightpink; */
    border-radius: 25px;
}
p::first-letter {
    color: lightseagreen;
    font-size: 30px;
}
/* div {
    border: 1px solid gray;
    background:linear-gradient(lightsalmon,lightyellow);
} */