.container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 50%;
    flex-direction: row;
    align-items: end;
    background-color: lightgray;
}
.container2 {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 50%;
    flex-direction: row;
    align-items: start;
    background-color: lightgray;
}
.father {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    background-color: lightgray;
}
.child {
    width: 100px;
    height: 50px;
}
.red {
    background-color: red;
    width: 100px;
    height: 50px;
    order: 3;
    flex-basis: 10%;
}
.yellow {
    background-color: yellow;
    width: 100px;
    height: 50px;
    align-items: flex-start;
    order: 1;
    /* flex-grow: 5; */
    flex-shrink: 2;
    flex-basis: 60%;
}
.blue {
    background-color: blue;
    width: 100px;
    height: 50px;
    align-items: flex-start;
    order: 5;
    flex-basis: 10%;
}
.purple {
    background-color: purple;
    width: 100px;
    height: 50px;
    order: 4;
    flex-basis: 10%;
}
.orange {
    background-color: orange;
    width: 100px;
    height: 50px;
    order: 2;
    flex-basis: 10%;
}