body {
    font-size: 35px;
}

h5 {
    /* font-family: ZCool-KuaiLe, "ZCool-KuaiLe"; */
    font-weight: bolder;
    font-style: italic;
}

p {
    font-family: "ZCool-KuaiLe", "Noto-Sans-T-Chinese", cursive;
    font-weight: lighter;
    /* font-weight: 700;
    font-size: 80px; */
}

#bordertest {
    border-top-style: dashed;
    border-bottom-style: solid ;
    border-color: rgb(72, 160, 112);
    border-top-width: thin;
    border-bottom-width: medium ;
}

#margintest {
    border: solid;
    margin: 1px 50% 5px 15%;
    border: 3px;
    border-color: black;
}

#paddingtest {
    padding: 1px 50% 25px 15%;
    border: dashed;
    border-color: blue;
    border-width: 5px;
}