h3 {
    color: gray;
}

body{
    background-image: url("../snakeman.png") rgb(197,231,211) no-repeat fixed center;
    background-size: 50%;
    font-family: fantasy;}
#title  {
    border-top-style: dashed;
    border-bottom-style: solid ;
    border-width: 2px;
    border-color: #01814a;
}
.sub{color: #01814a}

.btn {background-color: lightgreen1;border-color: maroon;}